* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1d2b64, #f8cdda);
  color: white;
  font-family: "Roboto", sans-serif;
  min-width: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #f8cdda;
  background: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

form button:hover {
  background: #f8cdda;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.completed-button,
.delete-button {
  padding: 1rem;
  background: #fda390;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.completed-button {
  background: rgb(88, 168, 88);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-check,
.fa-trash-alt {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #fda390;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #fda390;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}
